@page "/products"
@rendermode InteractiveServer

<PageTitle>Products</PageTitle>

<h3>Products Management</h3>
<div>
    <div class="products-title">
        <h5>Please select one option</h5>
    </div>
    <div class="products-buttons">
        <a href="/products/create" class="btn">Create new product</a>
        <a href="/products/update" class="btn">Update product</a>
        <a href="/products/getone" class="btn">Find one product</a>
        <a href="/products/getall" class="btn">Find all products</a>
        <a href="/products/delete" class="btn">Delete one product</a>
    </div>
</div>

<div class="container card shadow-sm">
    <DataGrid TItem="Product" Data="@Products" Sortable="true" Filterable="true" Responsive="true" ShowPager="true" PageSize="10">
        <DataGridColumns>
            <DataGridColumn TItem="Product" Field="@nameof(Product.Id)" Caption="Id" Sortable="true" />
            <DataGridColumn TItem="Product" Field="@nameof(Product.Name)" Caption="Name" Sortable="true" />
            <DataGridColumn TItem="Product" Field="@nameof(Product.Description)" Caption="Description" Sortable="true" />
            <DataGridColumn TItem="Product" Field="@nameof(Product.Price)" Caption="Price" Sortable="true" />
        </DataGridColumns>
    </DataGrid>
</div>



@code {
    public class Product
    {
        public Guid Id { get; set; } = Guid.NewGuid();
        public string Name { get; set; } = null!;
        public string Description { get; set; } = null!;
        public double Price { get; set; }
    }

    private List<Product> Products = new List<Product>();

    protected override void OnInitialized()
    {
        var result = new List<Product>();
        for (int i = 1; i <= 100; i++)
        {
            result.Add(new Product
            {
                Name = Faker.Commerce.ProductName(),
                Description = Faker.Lorem.Sentence(),
                Price = Faker.RandomNumber.Next(1, 1000)
            });
        }
        Products = result;
    }
}
