@page "/usermanagement";
@rendermode InteractiveServer


<PageTitle>User Management</PageTitle>

<div class="container card shadow-sm">

    <DataGrid TItem="User" Data="@Users" Sortable="true" Filterable="true" Responsive="true" ShowPager="true"  PageSize="10">
        <DataGridColumns>
            <DataGridColumn TItem="User" Field="@nameof(User.Id)" Caption="Id" Sortable="true" />
            <DataGridColumn TItem="User" Field="@nameof(User.FirstName)" Caption="First Name" Sortable="true" />
            <DataGridColumn TItem="User" Field="@nameof(User.LastName)" Caption="Last Name" Sortable="true" />
            <DataGridColumn TItem="User" Field="@nameof(User.Email)" Caption="Email" Sortable="true" />
        </DataGridColumns>
    </DataGrid>
</div>

@code {
    public class User
    {
        public Guid Id { get; set; } = Guid.NewGuid();
        public string FirstName { get; set; } = null!;
        public string LastName { get; set; } = null!;
        public string Email { get; set; } = null!;
    }

    private List<User> Users = new List<User>();


    protected override void OnInitialized()
    {
        var result = new List<User>();
        for (int i = 1; i <= 100; i++)
        {
            result.Add(new User
            {
                FirstName = Faker.Name.First(),
                LastName = Faker.Name.Last(),
                Email = Faker.Internet.Email()
            });
        }
        Users = result;

    }

}